#########################
# core apps
#########################



# ignore bin folders' contents, except data folder therein
/bin/*
!/bin/data/

/.cproject
/.project
/.settings/

# don't ignore the .gitignore file
!.gitignore

